#aboutRTL {
    border: 1px solid #F4F5F3;
    max-width: 42rem;
    border-radius: 5px;
    background-color: #F4F5F3;
    margin-bottom: 20px;
}

#btnAbout{
    margin-left: 10px;

}

#imgRTL{
    width: 85%;
    height: 85%;
}

#rtlTable{
    

}
    th {
        position: sticky;
        top: 0;
        background: white;
        border: 1px solid lightgray;
    }

#scrollable{
    max-height: 25rem;
    overflow-y: auto;
    overflow-x: auto;
    box-shadow: 10px 5px 5px lightgray;

}

#noRTL{
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

#resultRTL{
    margin: 40px auto;
}

#noMirror{
    width: 50%;
    margin: 20px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }